<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/styles.css">
</head>
<style>
    body {text-align: center;}   
</style>

<body>
<h1><strong>Pomodoriser</strong> </h1>
<h2>Let's get some work done!</h2>
<!--Start of task input form-->
   <div style="background-color: white; 
   padding-top: 5px; 
   padding-bottom: 5px; 
   padding-right:10px; 
   padding-left:10px; 
   border-radius: 10px; 
   margin-left: 20%; 
   margin-right: 20%;">
        <form action="/pomodoriser/task-adder" method="post">
      
        <p id="form_text">How many Pomodoro sessions long would you like this plan to be?<br><br>*Note that a Pomodoro sprint is 30 minutes long.</p>
        <div class="input-group">
            <label for="time_available">Plan Duration (Total Pomodoros): </label><br>
        </div>
        <br>
        <input type="number" id="time_available" name="time_available" min="0"><br><br>
        <input type="submit" value="Submit">

    </form>

   </div>

<br><a href="http://127.0.0.1:5000/pomodoriser/how-it-works" target="_self"> How it works</a>

<script>


</script>

</body>

</html>
